@{
    ViewData["Title"] = "Accounts Credentials ";
}
<h1>Credentials to Test the functionalities of this Web Application</h1>
<hr/>
<ul>
    <li>
        <p><strong>Administrator Credentials</strong></p>
        <p>Email: <strong>admin@localhost.com</strong></p>
        <p>Password: <strong>P@ssword1</strong></p>
    </li>
    <hr />
    <li>
        <p><strong>Employee Credentials</strong></p>
        <p>Email: <strong>user@localhost.com</strong></p>
        <p>Password: <strong>P@ssword1</strong></p>
    </li>

